/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 7px;
    margin-left:2px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #D2D2D2;
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
    display: none;
}

li, ul, div {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

input, select, option, textarea, button {
    outline: none;
}

.drag {
    -webkit-app-region: drag;
}

.non-drag {
    -webkit-app-region: no-drag;
}

.main-win {
    position: relative;
}

.left {
    width: 60px;
    background-color: rgb(40, 40, 41);
    text-align: center;
    height: 100vh;
    position: relative;
    float: left;
}

.median {
    width: 250px;
    background-color: #EEEAE8;
    float: left;
    height: 100vh;
}

.right {
    width: calc(100% - 250px - 60px);
    min-width: 300px;
    float: left;
    height: 100vh;
    background: #F5F5F5 url("./../img/wechat.png") no-repeat center;
    background-size: 93px;
}

.search {
    padding: 0 6px 6px 10px;
    margin-top: 25px;
    position: relative;
}

.search i {
    width: 200px;
    position: absolute;
    left: 15px;
    top: 7px;
    color: #636363;
    font-size: 12px;
}

#search-input {
    background-color: #DBD9D8;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    height: 25px;
    padding: 2px;
    width: 192px;
}

.add-friend {
    width: 20px;
    /*vertical-align: middle;*/
    margin-left: 4px;
    padding: 1px 6px;
    border-radius: 5px;
    cursor: pointer;
    /*font-size: 1.2em;*/
    background-color: #DCD9D8;
}

.add-friend:hover {
    background-color: #D1D1D1;
}


.func-area {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    line-height: 5px;
}

.red-bg, .gray-bg {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
}

.red-bg:hover {
    background-color: #F45454;
    color: #ffffff;
}

.gray-bg:hover {
    background-color: #E3E3E3;
}