.left ul li {
    margin-top: 20px;
}

.left ul li:hover {
    cursor: pointer;
}

.left ul li img {
    width: 29px;
}

#profile {
    width: 35px;
}

#settings {
    position: absolute;
    left: 10px;
    bottom: 10px;
}